h1  {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.header {
    padding: 60px;
    text-align: center;
    background: #631abcb9;
    color: rgba(255, 255, 255, 0.847);
    font-size: 30px;
  }

.socials {
    padding: 40px;
    text-align: center;
    background: #7d2ecdb9;
    color: rgba(255, 255, 255, 0.847);
    font-size: 18px;
}