h1  {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.header {
    margin-left: 110px;
    padding: 60px;
    text-align: center;
    background: #631abcb9;
    color: rgba(255, 255, 255, 0.847);
    font-size: 22px;
    font: Segoe UI;
  }

.socials {
    margin-left: 110px;
    padding: 40px;
    text-align: center;
    background: #7d2ecdb9;
    color: rgba(255, 255, 255, 0.847);
    font-size: 18px;
}

.shop {
    margin-left: 110px;
    padding: 40px;
    text-align: center;
    background: #8c34e4b9;
    color:rgba(255, 255, 255, 0.847);
    font-size: 30px;
}

.menu { 
    margin-left: 10px;
    display: block; 
    width: 200px; 
    height: 100px;
    text-align: center;
    padding-top: 40px;
    }

:link {
    color: beige;
}

:visited {
    color:rgba(251, 157, 157, 0.847)
}

.theme-light {
    background-color: white;
 }

 .theme-dark {
    background-color: black;
 }

.date_time {
    margin-left: 110px;
    padding: 60px;
    text-align: center;
    background: #631abcb9;
    color: rgba(255, 255, 255, 0.847);
    font-size: 26px;
    font: Garamond;
}